/* http://meyerweb.com/eric/tools/css/reset/ 
   v3.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body{
	margin: auto;
	max-width: 50%;
	width: 1000px;
}

/******* Header Styling *****/

 nav{
	  height: 100px;
		list-style-type: none;
		display: flex;
		flex-wrap: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
}

ul{
	display: flex;
	flex-wrap: row;
	
}

 li a{
	color: black;
	text-decoration: none;
	margin-right: 60px;
}

li  a:hover{
	color: gray;
}


/******* Section 1 Styling *****/

header{
	margin: 60px 0 30px;

}

.row {
	/* border: 1px dashed blue; */
	display: flex;
	flex-wrap: row;
	align-items: center;
}

.column {
	flex: 50%;
	
}


.circle {

}

.column h1 {
	font-size: 80px;
	text-align: center;
	
}

.get-button {
	margin-top: 20px;
}

button {
	background: white;
	border: 1px solid black;
	display: block;
	font-size: 18px;
	margin: auto;
	text-decoration: none;
	padding: 10px 50px;
}


/******* Article Styling *****/

article{
	margin: 60px 0px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.row1 {
	margin: 50px  0px;
	border: 1px solid green;
	display: flex;
	flex-wrap: row;
	justify-content: space-between;
}

.row1-columns {
	max-width: 460px;
	
}
 /* How to get space between flex items? is a width necessary? */
.row2 {
	display: flex;
	flex-wrap: row;
	margin-bottom: 30px;
}

.middle-img{
	max-width: 1000px;;
	width: 100%;
	height: auto;
	
}


.row3 {
	display: flex;
	flex-wrap: row;
	justify-content: space-evenly;
	margin-bottom: 50px;
}


/******* Footer Styling *****/

.contact p{
	margin-top: 20px;
}

.copyright{
	text-align: center;
	margin: 40px 0px;
	padding: 20px 0px;
}
